.reaping-container {
    display: flex;
    flex-direction: column;
}

.reaping-item {
    margin: 1rem;
}

.reaping-button {
    border: none;
    background-color: white;
    cursor: pointer;
    z-index: 10;
}

.reaping-button:active {   
  transform: translateY(3px);
  outline: none;
  border: none;
}