header {
    flex-direction: row;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 1px 1px black;
    margin-bottom: .5rem;   
    padding: .2rem;
}

.settings-button {
    background-color: transparent;
    border: none;
    outline:none;
    cursor: pointer;
}

.settings-button:active {   
    transform: translateY(2px);
    outline: none;
    border: none;
  }