.confirm-wipe-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirm-wipe-items {
    margin: 1rem;
}

.settings-list-item {
    margin: .5rem;
}

.confirm-wipe-button {
    background-color: tomato;
    color: white;
}