.tooltip {
    position: relative;
    display: inline-block;
  }
  
.tooltiptext {
    visibility: hidden;
    width: 200px;
    overflow-y: visible;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: .5rem;
    border-radius: 6px;
    opacity: .9;
    position: absolute;
    z-index: 10;
}

.tooltip:hover .tooltiptext {
visibility: visible;
}