.score-scouls {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: .5rem;
}

.score-panel-container {
    margin: .5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    vertical-align: top;
}